.home {
  width: 100%;
  padding: 0 20px 27px;
}

.home__container {
  max-width: 1240px;
  margin: 0 auto;
}

.home__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .home {
    padding: 0 40px 50px;
  }

  .home__gallery {
    background: #f6f6f6;
    border-radius: 25px;
    padding: 40px;
    gap: 30px;
    margin-top: 43px;
  }
}

@media (min-width: 1024px) {
  .home__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}