.header {
  width: 100%;
  padding: 20px;
}

.header__container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-image {
  width: 145px;
  height: auto;
  display: block;
}

.header__nav {
  display: flex;
  gap: 26px;
}

.header__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.header__link--active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .header {
    padding: 45px 40px 50px;
  }

  .header__logo-image {
    width: 210px;
  }

  .header__nav {
    gap: 57px;
  }

  .header__link {
    font-size: 24px;
    text-transform: none;
  }
}